// Define color variables
$primary-color: #007bff;
$hover-color: #0056b3;
$text-color: #ce5353;

// Define font variables
$font-family: 'Arial', sans-serif;
$font-size: 16px;

// Style the custom button with nesting
.but {
  background-color: $primary-color;
  color: rgb(84, 29, 29);
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  font-family: $font-family;
  font-size: $font-size;
  cursor: pointer;

  &:hover {
    background-color: $hover-color;
  }
}
